<div class="container mt-5">
  <h1>Booking Summary</h1>
  <div>
    <h4>Booking Date: <%= @booking.date %></h4>
    <p>Worker: <%= @booking.worker_profile_tag.worker_profile.user.first_name %> <%= @booking.worker_profile_tag.worker_profile.user.last_name %></p>
    <p>User: <%= @booking.user.first_name %> <%= @booking.user.last_name %></p>
    <p>Booking Description: <%= @booking.description %></p>
    <p>Address: <%= @booking.address %></p>
  </div>
  <%= link_to "Edit", edit_booking_path(@booking.id) %>
</div>



<!-- # t.bigint "user_id", null: false
    # t.text "description"
    # t.bigint "worker_profile_tag_id", null: false
    # t.boolean "confirmation", default: false
    # t.datetime "date"
    # t.integer "duration"
    # t.integer "price"
    # t.datetime "created_at", precision: 6, null: false
    # t.datetime "updated_at", precision: 6, null: false
    # t.index ["user_id"], name: "index_bookings_on_user_id"
    # t.index ["worker_profile_tag_id"], name: "index_bookings_on_worker_profile_tag_id" -->
