<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(' <%= cl_image_path "driver_cdgjui" %>')">
  <div id='job-booking'>
    <form action="<%= worker_profiles_path%>" class = "search-form">
      <input type="text" name = "address" placeholder = 'Address' id = "booking-address-home">
      <select name="job_type" id="job-date-search" placeholder = "Job Type">
        <% @tags.each do |tag| %>
          <option value=<%=tag.name%>><%= tag.name.capitalize %></option>
        <%end%>
      </select>
      <input type="submit" value = "Search for Work">
    </form>
   </div>
  <h1>AssistMe</h1>
</div>


<div class="container job-types">
  <h2 class="centered">Job Categories</h2>
  <div class="row">
    <%= link_to worker_profiles_path(job_type: "Plumbing")  do%>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(' <%= cl_image_path "pexels-roger-brown-5414383_wguqzm" %>')">
        <div class ="card-title"><p>Plumbers</p></div>
        <div class ="card-subtitle"> Clean your house in a few hours, with guaranteed quality.</div>
      </div>
    </div>
    <% end %>
    <%= link_to worker_profiles_path(job_type: "Landscaping")  do%>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(' <%= cl_image_path "landscaper_c3g4z8" %>')">
        <div class ="card-title"><p>Landscapers</p></div>
        <div class ="card-subtitle"> Clean your house in a few hours, with guaranteed quality.</div>
      </div>
    </div>
    <% end %>
    <%= link_to worker_profiles_path(job_type: "Driving")  do%>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(' <%= cl_image_path "pexels-pixabay-33488_ruahkj" %>')">
        <div class ="card-title"><p>Drivers</p></div>
        <div class ="card-subtitle"> Clean your house in a few hours, with guaranteed quality.</div>
      </div>
    </div>
    <% end %>
    <%= link_to worker_profiles_path(job_type: "Housekeeping")  do%>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(' <%= cl_image_path "pexels-ketut-subiyanto-4353615_x8sdc4" %>')">
        <div class ="card-title"><p>Housekeepers</p></div>
        <div class ="card-subtitle"> Clean your house in a few hours, with guaranteed quality.</div>
      </div>
    </div>
    <% end %>
    <%= link_to worker_profiles_path(job_type: "Cooking")  do%>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(' <%= cl_image_path "pexels-malidate-van-784631_zzix3e" %>')">
        <div class ="card-title"><p>Chefs</p></div>
        <div class ="card-subtitle"> Clean your house in a few hours, with guaranteed quality.</div>
      </div>
    </div>
    <% end %>
    <%= link_to worker_profiles_path(job_type: "Babysitting")  do%>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(' <%= cl_image_path "pexels-alex-green-5691833_vgfpmy" %>')">
        <div class ="card-title"><p>Babysitters</p></div>
        <div class ="card-subtitle"> Clean your house in a few hours, with guaranteed quality.</div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<!-- <form action="/flats" class = "form-inline search-form">
  <input type="text" name="query" class = "form-control">
  <input type="submit" value="Search" class = "btn btn-success">
</form>
 -->


<!--
<#%= link_to worker_profiles_path(tag: "dssd") do %>
  <div></div>
<#% end %>
  -->
