<div class="container" style="margin-top: 40px">
<div class="row">
 <h1 class="centered">Hey <%= @worker_profile.user.first_name %>, your profile should always be up to date</h1>
</div>
<div class="row" style="margin-top: 45px">
      <div class="col-md-9" style="border: 1px solid lightgray;" id="address-input">
        <br>
        <h2 class="centered">Update your bio:</h2>
        <%= render "form", worker_profile: @worker_profile %>
        <p><%= @worker_profile.bio %></p>
        <br>
        <h2>Add  new tag:</h2>
          <%= simple_form_for([@worker_profile, @worker_profile_tag], remote: true) do |f| %>
            <%= f.input :tag, collection: Tag.all, input_html: { class: 'multiple-select' }, include_hidden: false %>
            <%= f.input :rate, input_html: {min: 1} %>
            <%= f.button :submit, class: "btn-success" %>
          <% end %>
          <ul>
            <% @worker_profile.worker_profile_tags.each do |worker_profile_tag| %>
              <li>
                <span><%= worker_profile_tag.tag.name %>, <%= worker_profile_tag.rate %></span>
                <%= link_to worker_profile_tag_path(worker_profile_tag), method: :delete, remote: true, class: "delete", data: {confirm: "Are you sure?"} do %>
                  <i class="fas fa-times"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        <h2>What's your availabilities:</h2>
          <%= simple_form_for([@worker_profile, @availability], remote: true) do |f| %>
            <%= f.input :day, input_html: {min: 0, max: 6} %>
            <%= f.input :from, as: :integer %>
            <%= f.input :to, as: :integer %>
            <%= f.button :submit, class: "btn-success" %>
          <% end %>
          <ul>
            <%@worker_profile.availabilities.each do |availability| %>
              <li>
                <span>Day: <%= availability.day %>,from: <%= availability.from.strftime("%l %p") %> to: <%= availability.to.strftime("%l %p") %></span>
                <%= link_to availability_path(availability), method: :delete, remote: true, class: "delete", data: {confirm: "Are you sure?"} do %>
                  <i class="fas fa-times"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
      </div>
       
</div>
<div class="row" style="margin-bottom: 20px; margin-top: 20px">
<%= link_to "Dashboard", dashboard_path, id: "btn-black"  %>
</div>
</div>

 