<ul>
  <% @worker_profiles.each do |worker_profile| %>
    <li>
      <%= link_to  worker_profile_path(worker_profile) do %>
      <%=worker_profile.user.first_name%>,
      <% worker_profile.worker_profile_tags.each do |worker_profile_tag| %>
        <%= worker_profile_tag.tag.name %>,
      <% end %>
      <%= worker_profile.average_score %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "go to dashboard",  dashboard_path %>
