<ul>
  <% @worker_profiles.each do |worker_profile| %>
    <li>
      <%=worker_profile.user.first_name%>,
      <%= worker_profile.user.last_name %>,
      <% worker_profile.worker_profile_tags.each do |worker_profile_tag| %>
        <%= worker_profile_tag.tag.name %>,
      <% end %>
      <% worker_profile.reviews.each do |review| %>
        <%= review.score %>
        <%= review.description %>
      <% end %>
    </li>
  <% end %>
</ul>
