<div class=" mt-5 mb-5 mx-0 d-flex justify-content-between", style= "width: 100%">

  <div class="cards ml-5" style="grid-template-columns: 1fr ">
    <div class="">
      <ul>
        <div id='job-booking', style="text-align:center; margin-bottom: 20px">
          <form action="<%= worker_profiles_path%>" class = "search-form">
            <input type="text" name = "address" placeholder = 'Address' id = "booking-address-home">
            <select name="job_type" id="job-date-search" placeholder = "Job Type">
              <% @tags.each do |tag| %>
                <option value=<%=tag.name%>><%= tag.name.capitalize %></option>
              <% end %>
            </select>
            <input type="submit" value = "Search for Work">
          </form>
         </div>
        <% @worker_profiles.each do |worker_profile| %>

        <li>
          <div class = "container">
            <div class="card-service">
              <div class="card-service-picture col">
                <% if worker_profile.user.photo.attached?%>
                <%= cl_image_tag(worker_profile.user.photo.key,:width=>200, :height=>200, :gravity=>"face", :radius=>"max", :crop=>"thumb") %>
                <% else %>
                <%= cl_image_tag("worker_usd45y",:width=>200, :height=>200, :gravity=>"face", :radius=>"max", :crop=>"thumb") %>
                <% end %>
              </div>
              <div class="card-service-infos col-4">
                <h2 class = "card-service-infos-header">
                  <%=link_to worker_profile.user.first_name, worker_profile_path(worker_profile.id)%> |
                  <%worker_profile.average_score.times do |i|%>
                  <span class="fa fa-star checked"></span>
                  <% end %>
                  <%(5-worker_profile.average_score).times do |i|%>
                  <span class="fa fa-star"></span>
                  <% end %>
                </h2>
                <br>
                <p>
                  Skills :
                  <% worker_profile.worker_profile_tags.each_with_index do |worker_profile_tag, idx| %>
                  <strong><%=worker_profile_tag.tag.name%></strong><%if (idx + 1) == worker_profile.worker_profile_tags.length%>.<% else %>,<% end %>
                  <% end %>
                </p>

                <p class = "card-service-area"><%= worker_profile.address %></p>
              </div>
              <div class ="card-service-reviews col-6">
                <%worker_profile.reviews.each_with_index do |review, idx_rev|%>
                <div class ="card-service-review review-one">
                  <h2><%=review.user.first_name%></h2>
                  <p class = "review-content"><%=review.description%></p>
                </div>
                <%if idx_rev == 2%>
                <%break%>
                <% end %>
                <% end %>
            </div>
          </div>
        </div>
        <br>
      </li>
      <% end %>
    </ul>
  </div>

</div>

<div id="map"
     style="width: 700px; height: 100vh; position: sticky; top: 0"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>



