<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto d-flex">
      <div class="col-md-8 profile-container d-flex">
        <div class = "d-flex", style = "flex-direction: column; width: 100%">
        <div class = "d-flex justify-content-between", style="width:100%">
          <div class="p-4" style="flex-grow: 1">
            <h2><%= @worker_profile.user.first_name%>, <%= @worker_profile.user.last_name%></h2>
            <div class="tags-container">
              <ul class="d-flex">

                <% @worker_profile.worker_profile_tags.each do |worker_profile_tag| %>
                <li>
                  <span><%= worker_profile_tag.tag.name %></span>
                </li>
                <% end %>
              </ul>
            </div>
            <% @worker_profile.average_score.times do |i|%>
            <span class="fa fa-star checked"></span>
            <% end %>
            <%(5-@worker_profile.average_score).times do |i|%>
            <span class="fa fa-star"></span>
            <% end %>
          </div>
          <% if @worker_profile.user.photo.attached?%>
          <%= cl_image_tag(@worker_profile.user.photo.key,:width=>200, :height=>200, :gravity=>"face", :radius=>"max", :crop=>"thumb") %>
          <% else %>
          <%= cl_image_tag("worker_usd45y",:width=>200, :height=>200, :gravity=>"face", :radius=>"max", :crop=>"thumb") %>
          <% end %>
        </div>
        <div class = "mx-4 mt-5">
          <p style="text-align:justify; font-size: 20px;">My name is Pierre I'm a cool guy and I have a lot of fun with my ladies Nate and Paolo am I right wink wink fuck the girlfriend i like my penises long and hard<%= @worker_profile.bio %></p>
        </div>
        </div>
      </div>
      <div class="col-md-4 booking-container">
        <h2>Book Now</h2>
        <%= simple_form_for [@worker_profile, @booking] do |f| %>
        <%= f.association :worker_profile_tag, collection: @worker_profile.tags %>
        <div data-workingdays="<%= @working_hash.to_json %>" id = "working-days"></div>
        <%= f.input :date, as: :string %>
        <ul id = "availabilities"></ul>
        <%= f.input :from, as: :integer, input_html: {value: "", min: 0}%>
        <%= f.input :duration, as: :integer, input_html: {min: 0} %>
        <%= f.input :address, as: :string%>
        <%= f.input :description %>
        <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="review-container">
        <div>
          <h2>Reviews:</h2>
        </div>
        <div>
          <% @worker_profile.reviews.each do |review| %>
          <div>
            <%review.score.times do |i|%>
            <span class="fa fa-star checked"></span>
            <% end %>
            <%(5-review.score).times do |i|%>
            <span class="fa fa-star"></span>
            <% end %>
            <%= review.description %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


