<!-- <div class="container">
  <div class="cards" style="grid-template-columns: 2fr 1fr">
    <div class="card-service">
      <div class="p-5">
            <img src="https://static.wikia.nocookie.net/metalgear/images/f/f1/TPPVenomSnakeMB.png" />
            <h2><%= @worker_profile.user.first_name%>, <%= @worker_profile.user.last_name%></h2>

            <%= @worker_profile.bio %>
            <p>
              <% @worker_profile.average_score.times do |i|%>
                <span class="fa fa-star checked"></span>
              <% end %>
              <%(5-@worker_profile.average_score).times do |i|%>
                <span class="fa fa-star"></span>
              <% end %>
              (<%= @worker_profile.reviews.size %>)
            </p>

            <ul>
              <% @worker_profile.reviews.each do |review| %>
              <li>
                <%= review.score %>
                <%= review.description %>
              </li>
              <% end %>
            </ul>
      </div>
    </div>

    <div>
      <h2>Booking Form</h2>
    </div>

  </div>


</div>
 -->

<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="profile-container">
        <img src="https://static.wikia.nocookie.net/metalgear/images/f/f1/TPPVenomSnakeMB.png" />
        <h2><%= @worker_profile.user.first_name%>, <%= @worker_profile.user.last_name%></h2>
        <%= @worker_profile.bio %>
        <% @worker_profile.average_score.times do |i|%>
          <span class="fa fa-star checked"></span>
        <% end %>
        <%(5-@worker_profile.average_score).times do |i|%>
          <span class="fa fa-star"></span>
        <% end %>
      </div>
      <div class="booking-container">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mx-auto">

    </div>
  </div>
  <%= link_to "Go back",   worker_profiles_path%>
</div>
