<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto d-flex">
      <div class="profile-container d-flex">

        <div class="p-4" style="flex-grow: 1">
          <h2><%= @worker_profile.user.first_name%>, <%= @worker_profile.user.last_name%></h2>
          <div class="tags-container">
            <ul class="d-flex">

              <% @worker_profile.worker_profile_tags.each do |worker_profile_tag| %>
              <li>
                <span><%= worker_profile_tag.tag.name %></span>
              </li>
              <% end %>
            </ul>
          </div>
          <% @worker_profile.average_score.times do |i|%>
          <span class="fa fa-star checked"></span>
          <% end %>
          <%(5-@worker_profile.average_score).times do |i|%>
          <span class="fa fa-star"></span>
          <% end %>
          <p class="text-align-justify"><%= @worker_profile.bio %></p>
        </div>
        <%= cl_image_tag @worker_profile.photo.key, :width=>200, :height=>200, :gravity=>"face", :radius=>"max", :crop=>"thumb"%>
      </div>
      <div class="booking-container">
        <%= simple_form_for(@booking) do |f| %>
        <%= f.association :worker_profile_tag, collection: @worker_profile.tags %>
        <div data-workingdays="<%= @working_hash.to_json %>" id = "working-days"></div>
        <%= f.input :date, as: :string %>
        <ul id = "availabilities"></ul>
        <%= f.input :from, as: :integer, input_html: {value: ""}%>
        <%= f.input :duration, as: :integer%>
        <%= f.input :description %>
        <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="review-container">
        <div>
          <h2>Reviews:</h2>
        </div>
        <div>
          <% @worker_profile.reviews.each do |review| %>
          <div>
            <%review.score.times do |i|%>
            <span class="fa fa-star checked"></span>
            <% end %>
            <%(5-review.score).times do |i|%>
            <span class="fa fa-star"></span>
            <% end %>
            <%= review.description %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


